<%- include ('partials/header') -%>

<div class="jumbotron bg-light ">
  <h1 class="display-4">ARE YOU SURE ?</h1>
  <p class="lead">This page once deleted cannot be recovered!!</p>
  <hr class="my-4">
  <p class="lead">
    <div class="btn-group" role="group" aria-label="Basic example">
    <form action="/diary/<%=diary._id%>?_method=DELETE" method="POST">
    <button class="btn btn-danger btn-lg border rounded-pill">Delete Now </button>
  </form>
  
    <a class="btn btn-success btn-lg border rounded-pill" href="/diary/<%=diary._id%>" role="button">Go Back</a>
  </p>
</div>
</div>

<%- include ('partials/footer') -%>
