
.index.card{
    margin : 0px;
    padding : 0px;

}
.index.col-4{
    margin : 0px;
    padding : 0px;

}  

.row {
    margin-left: 0;
    margin-right: 0;
}
.col {
    margin-left: 0;
    margin-right: 0;
}